@model Productos

@{
    ViewData["Title"] = "Editar Producto";
}

<h2>@ViewData["Title"]</h2>
<form asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <label asp-for="Descripcion" >Descripcion</label>
        <input asp-for="Descripcion">
        <span asp-validation-for="Descripcion"></span>
    </div>

    <div>
        <label asp-for="Precio">Precio</label>
        <input asp-for="Precio" type="number" min="0">
        <span asp-validation-for="Precio"></span>
    </div>

    <div>
        <button type="submit">Crear</button>
        <a asp-action="Index">Volver</a>
    </div>
</form>