@model IEnumerable<EPresupuestos.Presupuestos>

<section class="container mt-4">
    <header class="d-flex justifity-content-between align-items-center mb-4">
        <h2 class="text-primary">Lista de Presupuestos</h2>
    </header>
    
</section>